extends ../../layouts/default.pug
include ../../mixins/box-head.pug
include ../../mixins/alert.pug

block main 
    +alert-success(5000)
    +alert-error(5000)

    .container.my-5 
        .row.justify-content-center 
            .col-6 
                h1(class="text-center") Lấy lại mật khẩu
                form(
                    action="/user/password/forgot"
                    method="POST"
                )
                    div(class="form-group mb-4")
                        label(for="email") Email
                        input(
                            type="email"
                            class="form-control"
                            name="email"
                            id="email"
                            required
                        )
                    div(class="form-group")
                        button(
                            type="submit"
                            class="btn btn-success"
                        ) Gửi email xác nhận
            
                