extends ../../layouts/default.pug
include ../../mixins/box-head.pug
include ../../mixins/alert.pug

block main 
    +alert-success(5000)
    +alert-error(5000)

    .container.my-5 
        .row.justify-content-center 
            .col-6 
                h1(class="text-center") Đổi mật khẩu
                form(
                    action="/user/password/reset"
                    method="POST"
                )
                    div(class="form-group mb-4")
                        label(for="password") Mật khẩu mới
                        input(
                            type="password"
                            class="form-control"
                            name="password"
                            id="password"
                            required
                        )
                    div(class="form-group mb-4")
                        label(for="passwordRepeat") Nhập lại mật khẩu
                        input(
                            type="password"
                            class="form-control"
                            name="passwordRepeat"
                            id="passwordRepeat"
                            required
                        )
                    div(class="form-group")
                        button(
                            type="submit"
                            class="btn btn-success"
                        ) Xác nhận
            
                