extends ../../layouts/auth.pug
include ../../mixins/alert.pug

block main 
    +alert-error(5000)

    .container.my-5 
        .row.justify-content-center
            .col-8  
                h1(class="text-center mb-3") Đăng nhập 
                form(
                    action=`${prefixAdmin}/auth/login`
                    method="POST"
                )
                    div(class="form-group")
                        label(for="email") Email
                        input(
                            type="text"
                            class="form-control mb-2"
                            name="email" 
                            id="email"
                            required
                        )
                    div(class="form-group")
                        label(for="password") Mật khẩu
                        input(
                            type="password"
                            class="form-control mb-2"
                            name="password" 
                            id="password"
                            required
                        )
                    div(class="form-group")
                        button(
                            type="submit"
                            class="btn btn-primary"
                        ) Đăng nhập 