extends ../../layouts/default.pug
include ../../mixins/alert.pug
include ../../mixins/back-button.pug
block main 
    +alert-error(5000)
    +alert-success(5000)

    +back-button()

    h1(class="mb-3") Chỉnh sửa sản phẩm

    form(
        action=`${prefixAdmin}/products/edit/${product.id}?_method=PATCH`
        method="POST"
        id="form-edit-product"
        enctype="multipart/form-data"
    )
        div(class="form-group")
            label(for="title") Tiêu đề
            input(
                type="text" 
                class="form-control mb-2"
                name="title" 
                id="title"
                value=product.title
                required
            )
        div(class="form-group")
            label(for="desc") Mô tả
            textarea(
                class="form-control mb-2"
                name="description" 
                id="desc"
                rows="4"
            ) #{product.description}
        div(class="form-group")
            label(for="price") Giá
            input(
                type="number" 
                class="form-control mb-2"
                name="price" 
                id="price"
                min="0"
                value=product.price
                required
            )
        div(class="form-group")
            label(for="discount") % Giảm giá
            input(
                type="number" 
                class="form-control mb-2"
                name="discountPercentage" 
                id="discount"
                min="0"
                value=product.discountPercentage
                required
            )
        div(class="form-group")
            label(for="stock") Số lượng
            input(
                type="number" 
                class="form-control mb-2"
                name="stock" 
                id="stock"
                min="0"
                value=product.stock
                required
            )
        div(class="form-group")
            label(for="thumbnail") Hình ảnh
            input(
                type="file" 
                class="form-control-file mb-2"
                name="thumbnail" 
                id="thumbnail"
                accept="image/*"
                style="display: block;"
                upload-image-input
            )
            img(
                id="img-preview" 
                src=product.thumbnail ? product.thumbnail : "#"
                alt="Image Preview" 
                class="img-preview"
                upload-image-preview
            )
            //- input(
            //-     type="text" 
            //-     class="form-control mb-2"
            //-     name="thumbnail" 
            //-     id="thumbnail"
            //- )
        div(class="form-group")
            label(for="position") Vị trí
            input(
                type="number" 
                class="form-control mb-2"
                name="position" 
                id="position"
                value=product.position
                required
                min="1"
            )
        div(class="form-group form-check form-check-inline")
            input(
                type="radio"
                class="form-check-input mb-2"
                id="statusActive"
                name="status"
                value="active"
                checked=product.status === "active" 
            )
            label(
                class="form-check-label"
                for="statusActive"
            ) Hoạt động
        div(class="form-group form-check form-check-inline")
            input(
                type="radio"
                class="form-check-input mb-2"
                id="statusInactive"
                name="status"
                value="inactive"
                checked=product.status === "inactive"
            )
            label(
                class="form-check-label"
                for="statusInactive"
            ) Dừng hoạt động
        div(class="form-group")
            button(
                type="reset"
                class="btn btn-danger me-2"
                reset-button
            ) Đặt lại
            button(
                type="submit"
                class="btn btn-primary"
            ) Cập nhật
            
            
                

    script(src="/admin/js/products.script.js")