extends ../../layouts/default.pug

block main 
    h1 Products

    table.table.table-hover.table-sm
        thead 
            tr 
                th STT
                th Hình ảnh
                th Tiêu đề
                th Giá
                th Trạng thái
                th Hành động
            
        tbody 
            each item, index in products
                tr 
                    td #{index + 1}
                    td 
                        img(src=item.thumbnail 
                            alt=item.title
                            width="100px"
                            height="auto"
                        )
                    td #{item.title}
                    td #{item.price}
                    td 
                        a(href="#" 
                            class=`badge ${item.status === "active" ? "bg-success" : "bg-danger"}`
                             style="text-decoration: none;"
                        )
                            | #{item.status === "active" ? "Hoạt động" : "Dừng hoạt động"}
                    td 
                        button(class="btn btn-warning btn-sm") Sửa
                        button(class="btn btn-danger btn-sm ms-1") Xóa