extends ../../layouts/default.pug
include ../../mixins/back-button.pug
block main 

    +back-button()

    h1(class="mb-3") Thêm tài khoản mới

    form(
        action=`${prefixAdmin}/accounts/create`
        method="POST"
        enctype="multipart/form-data"
    )
        div(class="form-group")
            label(for="fullName") Họ và tên
            input(
                type="text" 
                class="form-control mb-2"
                name="fullName" 
                id="fullName"
                required
            )
        div(class="form-group")
            label(for="email") Email
            input(
                type="text"
                class="form-control mb-2"
                name="email" 
                id="email"
                required
            )
        div(class="form-group")
            label(for="password") Mật khẩu
            input(
                type="password"
                class="form-control mb-2"
                name="password" 
                id="password"
                required
            )
        div(class="form-group")
            label(for="phone") Số điện thoại
            input(
                type="text"
                class="form-control mb-2"
                name="phone" 
                id="phone"
                required
            )
        div(class="form-group")
            label(for="avatar") Ảnh đại diện
            input(
                type="file" 
                class="form-control-file mb-2"
                name="avatar" 
                id="avatar"
                accept="image/*"
                style="display: block;"
                upload-image-input
            )
            img(
                id="img-preview" 
                src="#" 
                alt="Image Preview" 
                class="img-preview"
                upload-image-preview
            )
        div(class="form-group")
            label(for="role_id") Vai trò
            select(
                name="role_id"
                id="role_id"
                class="form-control mb-2"
            )
                option(value="" selected disabled) -- Chọn vai trò --
                    if roles
                        each item in roles 
                            option(value=item.id) #{item.title}
       
        div(class="form-group")
            button(
                type="reset"
                class="btn btn-danger me-2"
                reset-button
            ) Nhập lại
            button(
                type="submit"
                class="btn btn-primary"
            ) Thêm mới