extends ../../layouts/default.pug
include ../../mixins/back-button.pug
block main 

    +back-button()

    .card
        .card-header 
            div(class="d-flex justify-content-between align-items-center")
                h1 #{record.fullName}
                if (role.permissions.includes("accounts_edit"))
                    a(href=`${prefixAdmin}/accounts/edit/${record.id}` class="btn btn-warning btn-sm") Sửa  
        .card-body
            if record.avatar
                img(src=record.avatar alt=record.fullName width="200px")
            if record.email
                p Email: #{record.email}
            if record.phone
                p Số điện thoại: #{record.email}
            if roleTitle
                p Vai trò: #{roleTitle}
            if record.status 
                p Trạng thái: 
                if record.status === 'active'
                    span(class="badge bg-success") Hoạt động
                else if record.status === 'inactive'
                    span(class="badge bg-danger") Dừng hoạt động
