extends ../../layouts/default.pug
include ../../mixins/pagination.pug
include ../../mixins/alert.pug
include ../../mixins/no-perm.pug
block main 
    if (role.permissions.includes("accounts_view"))
        +alert-success(5000)

        h1(class="mb-3") #{pageTitle}

        .card.mb-3
            .card-header Danh sách
            .card-body 
                .row 
                    .col-8 
                    .col-4.text-end
                        if (role.permissions.includes("accounts_create"))
                            a(
                                href=`${prefixAdmin}/accounts/create`
                                class="btn btn-outline-success"
                            ) + Thêm mới

                table(
                    class="table table-hover table-sm"
                )
                    thead 
                        tr 
                            th STT
                            th Ảnh đại diện
                            th Họ và tên
                            th Phân quyền
                            th Email
                            th Trạng thái
                            th Hành động
                        
                    tbody 
                        if (records.length > 0)
                            each item, index in records
                                tr 
                                    td(class="align-middle") #{pagination.limitItems * (pagination.currentPage - 1) + index + 1}
                                    td(class="align-middle text-center")
                                        img(
                                            class="avatar"
                                            src=item.avatar
                                            alt=item.fullName
                                            )
                                    td(class="align-middle") #{item.fullName}
                                    td(class="align-middle") #{item.role.title}
                                    td(class="align-middle") #{item.email}
                                    td(class="align-middle") 
                                        if (role.permissions.includes("accounts_edit"))
                                            a(href="javascript:;" 
                                                data-status=item.status
                                                data-id=item.id
                                                button-change-status
                                                class=`badge ${item.status === "active" ? "bg-success" : "bg-danger"}`
                                                style="text-decoration: none;"
                                            )
                                                | #{item.status === "active" ? "Hoạt động" : "Dừng hoạt động"}
                                        else 
                                            a(
                                                class=`badge ${item.status === "active" ? "bg-success" : "bg-danger"}`
                                                style="text-decoration: none;"
                                            )
                                                |#{item.status === "active" ? "Hoạt động" : "Dừng hoạt động"}
                                    td(class="align-middle") 
                                        a(
                                            href=`${prefixAdmin}/accounts/detail/${item.id}` 
                                            class="btn btn-info btn-sm") Chi tiết
                                        if (role.permissions.includes("accounts_edit"))
                                            a(
                                                href=`${prefixAdmin}/accounts/edit/${item.id}` 
                                                class="btn btn-warning btn-sm ms-1") Sửa
                                        if (role.permissions.includes("accounts_delete"))   
                                            button(
                                                class="btn btn-danger btn-sm ms-1"
                                                data-id=item.id 
                                                button-delete
                                                ) Xóa
                        else  
                            tr
                                td(colspan="8" class="text-center") 
                                    p(class="mt-3 mb-3") Không tồn tại tài khoản nào.
        
        +pagination(pagination)

        form(
            action=""
            method="POST"
            id="form-change-status"
            data-path=`${prefixAdmin}/accounts/change-status`
        )

        form(
            action=""
            method="POST"
            id="form-delete-record"
            data-path=`${prefixAdmin}/accounts/delete`
        )
    else 
        +no-perm-home(pageTitle)
