extends ../../layouts/default.pug
include ../../mixins/filter-button.pug
include ../../mixins/form-search.pug
include ../../mixins/pagination.pug
include ../../mixins/form-change-multi.pug
include ../../mixins/alert.pug
include ../../mixins/sort.pug
include ../../mixins/table-tree.pug

block main 
    h1 Category

    +alert-success(5000)

    .card.mb-3 
        .card-header Bộ lọc và tìm kiếm 
        .card-body  
            .row 
                .col-6
                    +filter-button(filterButton) 
                .col-6 
                    +form-search(keyword)
            .row 
                .col-4 
                    +sort("category")

    .card.mb-3 
        .card-header Danh mục sản phẩm
        .card-body 
            .row(class="mb-3")
                .col-8
                    +form-change-multi(`${prefixAdmin}/products-category/change-multi?_method=PATCH`)
                .col-4.text-end
                    a(href=`${prefixAdmin}/products-category/create`
                        class="btn btn-outline-success"
                    ) + Thêm mới
            

            table(
                class="table table-hover table-sm"
                checkbox-multi
            )
                thead 
                    tr 
                        th 
                            input(type="checkbox" name="checkAll")
                        th STT
                        th Hình ảnh
                        th Tiêu đề
                        th Vị trí
                        th Trạng thái
                        th Hành động
                    
                tbody 
                    if (records.length > 0)
                        +table-tree(records)
                    else  
                        tr
                            td(colspan="8" class="text-center") 
                                p(class="mt-3 mb-3") Không tồn tại danh mục nào.
    
     
    //- +pagination(pagination)


    form(
        action=""
        method="POST"
        id="form-change-status"
        data-path=`${prefixAdmin}/products-category/change-status`
    )

    form(
        action=""
        method="POST"
        id="form-delete-record"
        data-path=`${prefixAdmin}/products-category/delete`
    )



