extends ../../layouts/default.pug
include ../../mixins/box-head.pug
include ../../mixins/alert.pug

block main

    +alert-success(5000)
    +alert-error(5000)
    .container.my-3
        .row 
            .col-12 
                +box-head(pageTitle)
        
        
        .row
            .col-12 
                table(class="table table-bordered")
                    thead 
                        tr 
                            th STT 
                            th Ảnh
                            th Tên
                            th Giá
                            th Số lượng 
                            th Tổng
                            th Hành động
                    tbody 
                        if(cart.products.length > 0)
                            each item, index in cart.products
                                tr
                                    td(class="align-middle") #{index + 1}
                                    td(class="text-center align-middle")
                                        img(src=item.productInfo.thumbnail, alt=item.productInfo.title class="product")
                                    td(class="align-middle") 
                                        a(href=`/products/detail/${item.productInfo.slug}`) #{item.productInfo.title}
                                    td(class="align-middle") #{item.productInfo.priceNew}$
                                    td(class="align-middle") 
                                        input(
                                            type="number"
                                            name="quantity"
                                            value=item.quantity
                                            min="1"
                                            max=item.productInfo.stock
                                            product-id=item.product_id
                                            style="width: 60px"
                                            )
                                    td(class="align-middle") #{item.total}$
                                    td(class="align-middle text-center") 
                                        a(
                                            class="btn btn-danger btn-sm"
                                            href=`/cart/delete/${item.product_id}`
                                            ) Xóa
                        else 
                            tr
                                td(colspan="8" class="text-center") 
                                    p(class="mt-3 mb-3") Hiện chưa có sản phẩm trong giỏ hàng
            if(cart.products.length > 0)
                h3(class="text-end") Tổng: #{cart.cartTotal}$
                div(class="text-end mt-3")
                    a(href="/checkout" class="btn btn-success") THANH TOÁN
        
        
    script(src="/client/js/cart.js")

