extends ../../layouts/default.pug
include ../../mixins/box-head.pug
include ../../mixins/products-layout.pug

block main
    .container.my-3
        .row 
            .col-12 
                +box-head(pageTitle)
        
        
        .row
            .col-12 
                table(class="table table-bordered")
                    thead 
                        tr 
                            th STT 
                            th Ảnh
                            th Tên
                            th Giá
                            th Số lượng 
                            th Tổng
                            th Hành động
                    tbody 
                        if(cart.products.length > 0)
                            each item, index in cart.products
                                tr
                                    td(class="align-middle") #{index + 1}
                                    td(class="text-center align-middle")
                                        img(src=item.productInfo.thumbnail, alt=item.productInfo.title class="product")
                                    td(class="align-middle") 
                                        a(href=`/products/detail/${item.productInfo.slug}`) #{item.productInfo.title}
                                    td(class="align-middle") #{item.productInfo.priceNew}$
                                    td(class="align-middle") 
                                        input(
                                            type="number"
                                            name="quantity"
                                            value=item.quantity
                                            min="1"
                                            item-id=item.product_id
                                            style="width: 60px"
                                            )
                                    td(class="align-middle") #{item.productInfo.priceNew * item.quantity}$
                                    td(class="align-middle text-center") 
                                        button(
                                            class="btn btn-danger btn-sm"
                                            href=`/cart/delete/:id`
                                            ) Xóa
                        else 
                            p Hiện chưa có sản phẩm trong giỏ hàng
            h3(class="text-end") Tổng: 1000$

            div(class="text-end mt-3")
                a(href="/checkout" class="btn btn-success") THANH TOÁN
        
        


