extends ../../layouts/default.pug
include ../../mixins/box-head.pug

block main
    .container.my-3
        .row 
            .col-12 
                +box-head(pageTitle)

        .row.mb-3 
            .col-12 
                a(
                    href="/room-chat/create"
                    class="btn btn-success"
                ) Tao phong chat 
        
        .row 
            .col-6 
                div(class="box-room")
                    div(class="inner-avatar")
                        img(
                            src="#"
                            alt="Phong abc"
                        )
                    div(class="inner-info")
                        div(class="inner-name") Phong abc 
                        div(class="inner-buttons") 
                            a(
                                href="#"
                                class="btn btn-primary"
                            ) Nhan tin
        