extends ../../layouts/default.pug
include ../../mixins/box-head.pug
include ../../mixins/alert.pug

block main

    +alert-success(5000)
    +alert-error(5000)

    .container.my-3
        .row 
            .col-12 
                +box-head(pageTitle)
        
        .row
            .col-12 
                table(class="table table-bordered")
                    thead 
                        tr 
                            th STT 
                            th Ảnh
                            th Tên
                            th Giá
                            th Số lượng 
                            th Tổng
                    tbody 
                        if(cart.products.length > 0)
                            each item, index in cart.products
                                tr
                                    td(class="align-middle") #{index + 1}
                                    td(class="text-center align-middle")
                                        img(src=item.productInfo.thumbnail, alt=item.productInfo.title class="product")
                                    td(class="align-middle") #{item.productInfo.title}
                                    td(class="align-middle") #{item.productInfo.priceNew}$
                                    td(class="align-middle") #{item.quantity}
                                    td(class="align-middle") #{item.total}$
                        else 
                            p Hiện chưa có sản phẩm trong giỏ hàng
        if(cart.products.length > 0)
            h3(class="text-end") Tổng: #{cart.cartTotal}$
            .row 
                .col-3
                .col-6 
                    .card.p-4.my-4 
                        form(
                            action="/checkout/order"
                            method="POST"
                        )
                            div(class="form-group mb-2")
                                label(for="fullName") Họ và tên
                                input(
                                    type="text"
                                    class="form-control"
                                    name="fullName"
                                    id="fullName"
                                    required
                                )
                            div(class="form-group mb-2")
                                label(for="phone") Số điện thoại 
                                input(
                                    type="text"
                                    class="form-control"
                                    name="phone"
                                    id="phone"
                                    required
                                )
                            div(class="form-group mb-5")
                                label(for="address") Địa chỉ 
                                input(
                                    type="text"
                                    class="form-control"
                                    name="address"
                                    id="address"
                                    required
                                )
                            div(class="form-group")
                                button(
                                    type="submit"
                                    class="btn btn-success"
                                ) ĐẶT HÀNG