extends ../../layouts/default.pug
include ../../mixins/box-head.pug

block main

    .container.my-3
        .row 
            .col-12 
                +box-head(pageTitle)

        .row 
            .col-3
            .col-6
                div(class="alert alert-success")
                    |   Chúc mừng bạn đã đặt hàng thành công! Chúng tôi sẽ xử lí đơn hàng trong thời gian sớm nhất.
        
        if(order)
            .row 
                .col-3
                .col-6
                    h4(class="mb-2") Thông tin cá nhân 
                    table(class="table table-bordered")
                        tbody  
                            tr 
                                td Họ tên 
                                td 
                                    b #{order.userInfo.fullName}
                            tr 
                                td Số điện thoại 
                                td 
                                    b #{order.userInfo.phone}
                            tr 
                                td Địa chỉ
                                td 
                                    b #{order.userInfo.address}
        
        .row 
            .col-12
                h4(class="mb-2") Thông tin đơn hàng
                table(class="table table-bordered")
                    thead 
                        tr 
                            th STT 
                            th Ảnh
                            th Tên
                            th Giá
                            th Số lượng 
                            th Tổng
                    tbody 
                        if(order.products.length > 0)
                            each item, index in order.products
                                tr
                                    td(class="align-middle") #{index + 1}
                                    td(class="text-center align-middle")
                                        img(src=item.productInfo.thumbnail, alt=item.productInfo.title class="product")
                                    td(class="align-middle") #{item.productInfo.title}
                                    td(class="align-middle") #{item.priceNew}$
                                    td(class="align-middle") #{item.quantity}
                                    td(class="align-middle") #{item.totalPrice}$
            h3(class="text-end") Tổng: #{order.totalPrice}$