include ../mixins/sub-menu.pug
header.header   
    .container 
        .row.align-items-center 
            .col-3 
                .inner-logo 
                    a(href="/") 
                        img(src="/client/image/logo.png", alt="Logo")

            .col-5 
                form(
                    action="/search"
                    method="GET"
                    id="form-search"
                )
                    div(class="form-group d-flex mb-0")
                        input(
                            type="text"
                            class="form-control me-1"
                            placeholder="Nhập từ khóa"
                            name="keyword"
                            value=keyword
                        )
                        button(
                            type="submit"
                            class="btn btn-primary"
                        ) Tìm

            .col-4 
                .inner-menu 
                    ul 
                        li 
                            a(href="/") Home 
                        - const pathProducts = "/products"
                        li(class="sub-menu")
                            a(href=pathProducts) Product
                                +sub-menu(subMenu, pathProducts) 
                        li 
                            a(href="/cart") Giỏ hàng (#{miniCart ? miniCart.totalQuantity : 0})
                        li 
                            a(href="/user/register") Đăng ký