include ../mixins/sub-menu.pug
header.header   
    .container 
        .row.align-items-center 
            .col-3 
                .inner-logo 
                    .inner-logo-img
                        a(href="/") 
                            img(src=settingsGeneral.logo, alt=settingsGeneral.websiteName)
                    .inner-logo-text
                        a(href="/") #{settingsGeneral.websiteName}

            .col-3 
                form(
                    action="/search"
                    method="GET"
                    id="form-search"
                )
                    div(class="form-group d-flex mb-0")
                        input(
                            type="text"
                            class="form-control me-1"
                            placeholder="Nhập từ khóa"
                            name="keyword"
                            value=keyword
                        )
                        button(
                            type="submit"
                            class="btn btn-primary"
                        ) Tìm

            .col-6
                .inner-menu 
                    ul 
                        li 
                            a(href="/") Home 
                        - const pathProducts = "/products"
                        li(class="sub-menu")
                            a(href=pathProducts) Product
                                +sub-menu(subMenu, pathProducts) 
                        li 
                            a(href="/cart") Giỏ hàng (#{miniCart ? miniCart.totalQuantity : 0})
                        if(user)
                            li 
                                a(href="/user/info") #{user.fullName}
                            li 
                                a(href="/user/logout") Đăng xuất
                        else
                            li 
                                a(href="/user/login") Đăng nhập
                            li 
                                a(href="/user/register") Đăng ký
                        