extends ../../layouts/default.pug
include ../../mixins/box-head.pug
include ../../mixins/products-layout.pug

block main
    .container.my-3

        include ../../partials/list-btn-users.pug

        .row 
            .col-12 
                +box-head(pageTitle)

        .row(data-users-friend=user.id)
            each user in users
                .col-6(friend-id=user.id)
                    div(class="box-user")
                        div(class="inner-avatar")
                            img(
                                src=(user.avatar ? user.avatar : "/client/image/avatar_default.jpg")
                                alt=user.fullName
                            )
                        div(class="inner-info")
                            div(class="inner-name") #{user.fullName}
                            div(class="inner-buttons")
                                a(
                                    href=`/chat/${user.infoFriend.room_chat_id}`
                                    class="btn btn-sm btn-primary"
                                    btn-message=user.id
                                ) Nhắn tin
                        div(
                            class="inner-status"
                            status=user.statusOnline
                        ) <i class="fa-solid fa-circle"></i>

block script 
    script(src="/client/js/users.js")
        