mixin table-tree(records, level = 1)
    each item, index in records
        - const prefix = Array(level + 1).join("--")
        tr 
            td 
                input(type="checkbox" name="checkItem" value=item.id)
            td #{prefix} #{item.index}
            td 
                img(src=item.thumbnail 
                alt=item.title
                width="100px"
                height="auto"
            )
            td #{item.title}
            td
                input(
                    type="number"
                    value=item.position 
                    min="1"
                    name="position"
                    style="width: 60px;"
                    )
            td 
                a(href="javascript:;" 
                    data-status=item.status
                    data-id=item.id
                    button-change-status
                    class=`badge ${item.status === "active" ? "bg-success" : "bg-danger"}`
                    style="text-decoration: none;"
                )
                    | #{item.status === "active" ? "Hoạt động" : "Dừng hoạt động"}
            td 
                a(
                    href=`${prefixAdmin}/products-category/detail/${item.id}` 
                    class="btn btn-info btn-sm") Chi tiết
                a(
                    href=`${prefixAdmin}/products-category/edit/${item.id}` 
                    class="btn btn-warning btn-sm ms-1") Sửa
                button(
                    class="btn btn-danger btn-sm ms-1"
                    data-id=item.id
                    button-delete
                    ) Xóa
            if item.children && item.children.length > 0
                +table-tree(item.children, level + 1)
