mixin table-tree(records, level = 1)
    each item, index in records
        - const prefix = Array(level + 1).join("--")
        tr 
            td(class="align-middle") 
                input(type="checkbox" name="checkItem" value=item.id)
            td(class="align-middle") #{prefix} #{item.index}
            td(class="align-middle text-center") 
                img(src=item.thumbnail 
                alt=item.title
                class="product-category-img"
            )
            td(class="align-middle") #{item.title}
            td(class="align-middle")
                input(
                    type="number"
                    value=item.position 
                    min="1"
                    name="position"
                    style="width: 60px;"
                    )
            td(class="align-middle")
                if (role.permissions.includes("products-category_edit"))
                    a(href="javascript:;" 
                        data-status=item.status
                        data-id=item.id
                        button-change-status
                        class=`badge ${item.status === "active" ? "bg-success" : "bg-danger"}`
                        style="text-decoration: none;"
                    )
                        | #{item.status === "active" ? "Hoạt động" : "Dừng hoạt động"}
                else 
                    a(                      
                        class=`badge ${item.status === "active" ? "bg-success" : "bg-danger"}`
                        style="text-decoration: none;"
                    )
                        | #{item.status === "active" ? "Hoạt động" : "Dừng hoạt động"}        
            td(class="align-middle") 
                a(
                    href=`${prefixAdmin}/products-category/detail/${item.id}` 
                    class="btn btn-info btn-sm") Chi tiết
                if (role.permissions.includes("products-category_edit"))
                    a(
                        href=`${prefixAdmin}/products-category/edit/${item.id}` 
                        class="btn btn-warning btn-sm ms-1") Sửa
                if (role.permissions.includes("products-category_delete"))
                    button(
                        class="btn btn-danger btn-sm ms-1"
                        data-id=item.id
                        button-delete
                        ) Xóa
            if item.children && item.children.length > 0
                +table-tree(item.children, level + 1)
